<h2>User Form</h2>

<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control" minlength="6" maxlength="10" required name="name" #name="ngModel" ngModel/>
		<div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
			<div [hidden]="!name.errors.required">
				Name is required
			</div>
			<div [hidden]="!name.errors.minlength">
				Name must be at least 6 characters.
			</div>
			<div [hidden]="!name.errors.maxlength">
				Name cannot has more than 10 characters
			</div>
		</div>
	</div>
	<div class="form-group">
		<label>Email</label>
		<input type="text" class="form-control" name="email" ngModel/>
	</div>
	<div class="form-group">
		<label>Street</label>
		<input type="text" class="form-control" name="street" ngModel/>
	</div>
	<div class="form-group">
		<label>City</label>
		<select class="form-control" required name="cityName" ngModel>
			<option *ngFor="let city of cities" [value]="city.Id">{{city.Name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label>Postal Code</label>
		<input type="text" pattern="^[1-9][0-9]{4}$" class="form-control" name="postalCode" #postalCode="ngModel" ngModel/>
		<div *ngIf="postalCode.errors && (postalCode.dirty || postalCode.touched)" class="alert alert-danger">
			<div [hidden]="!postalCode.errors.pattern">
				Postal code must be have 5 digits.
			</div>
		</div>
	</div>

	<button type="submit" [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
</form>