<form class="form" #f="ngForm" (ngSubmit)="SaveForm()">
    <div class="form-group">
        <label class="col-md-2">Name</label>
        <div  class="col-md-10"><input type="text" name="name" [(ngModel)]="employee.name" /></div>
    </div>
    <div class="form-group">
        <label class="col-md-2">Age</label>
        <div  class="col-md-10"><input type="number" name="age" [(ngModel)]="employee.age" /></div>
    </div>
    <div class="form-group">
        <label class="col-md-2">Status</label>
        <div class="col-md-10"><input type="checkbox" name="status" [(ngModel)]="employee.status" /></div>
    </div>
    <div class="form-group">
        <button type="submit">Save</button>
        <button type="button" (click)="GotoEmployee()">Cancel</button>
    </div>
</form>